/*=================================
    SYMPHONY PRO REGULAR FONT FAMILY
===================================*/
@font-face {
   font-family: 'Symphony';
   src: url('../fonts/symphony/Symphony.otf') format('opentype');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/*=================================
    ABRIL FATFACE FONT FAMILY
===================================*/
@font-face {
   font-family: 'Abril Fatface';
   src: url('../fonts/Abril_Fatface/AbrilFatface-Regular.ttf') format('opentype');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/*=================================
    FUTURA PT FONT FAMILY
===================================*/
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 300;
   src: url('../fonts/futura-pt/FuturaCyrillicLight.ttf') format('truetype');
}
@font-face {
   font-family: 'Futura PT';
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/futura-pt/FuturaCyrillicBook.ttf') format('truetype');
}
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   src: url('../fonts/futura-pt/FuturaCyrillicMedium.ttf') format('truetype');
}
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   src: url('../fonts/futura-pt/FuturaCyrillicDemi.ttf') format('truetype');
}
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   src: url('../fonts/futura-pt/FuturaCyrillicBold.ttf') format('truetype');
}
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 800;
   src: url('../fonts/futura-pt/FuturaCyrillicExtraBold.ttf') format('truetype');
}
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 900;
   src: url('../fonts/futura-pt/FuturaCyrillicHeavy.ttf') format('truetype');
}

/*=================================
    MONTSERRAT FONT FAMILY
===================================*/
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 200;
   src: url('../fonts/Montserrat/static/Montserrat-ExtraLight.ttf') format('truetype');
}
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 300;
   src: url('../fonts/Montserrat/static/Montserrat-Light.ttf') format('truetype');
}
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   src: url('../fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   src: url('../fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   src: url('../fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 800;
   src: url('../fonts/Montserrat/static/Montserrat-ExtraBold.ttf') format('truetype');
}

/*=================================
    DOSIS FONT FAMILY
===================================*/
@font-face {
   font-family: 'Dosis';
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/Dosis/static/Dosis-Regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Dosis';
   font-style: normal;
   font-weight: 200;
   src: url('../fonts/Dosis/static/Dosis-ExtraLight.ttf') format('truetype');
}
@font-face {
   font-family: 'Dosis';
   font-style: normal;
   font-weight: 300;
   src: url('../fonts/Dosis/static/Dosis-Light.ttf') format('truetype');
}
@font-face {
   font-family: 'Dosis';
   font-style: normal;
   font-weight: 500;
   src: url('../fonts/Dosis/static/Dosis-Medium.ttf') format('truetype');
}
@font-face {
   font-family: 'Dosis';
   font-style: normal;
   font-weight: 600;
   src: url('../fonts/Dosis/static/Dosis-SemiBold.ttf') format('truetype');
}
@font-face {
   font-family: 'Dosis';
   font-style: normal;
   font-weight: 700;
   src: url('../fonts/Dosis/static/Dosis-Bold.ttf') format('truetype');
}
@font-face {
   font-family: 'Dosis';
   font-style: normal;
   font-weight: 800;
   src: url('../fonts/Dosis/static/Dosis-ExtraBold.ttf') format('truetype');
}


/*=================================
    ROBOTO FONT FAMILY
===================================*/
@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/Roboto/static/Roboto-Regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 100;
   src: url('../fonts/Roboto/static/Roboto-Thin.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 200;
   src: url('../fonts/Roboto/static/Roboto-ExtraLight.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   src: url('../fonts/Roboto/static/Roboto-Light.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   src: url('../fonts/Roboto/static/Roboto-Medium.ttf') format('truetype');
}
@font-face {
   font-family: 'ROboto';
   font-style: normal;
   font-weight: 600;
   src: url('../fonts/Roboto/static/Roboto-SemiBold.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   src: url('../fonts/Roboto/static/Roboto-Bold.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 800;
   src: url('../fonts/Roboto/static/Roboto-ExtraBold.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 900;
   src: url('../fonts/Roboto/static/Roboto-Black.ttf') format('truetype');
}
